/* do not write on the margin */
* {
  margin: 0;
  padding: 0;
}

.box{
        color: blue;
        ;
      }
      .box1 > b{
        color: brown;
      }
      .box1 > p{
        color: pink;
      }
      .box1 > h6{
        color: rgb(22, 163, 199);
        background-color: black;
        font-size: 40px;
        padding: 10px;
      }
      #div1{
        background-color: cornflowerblue;
        /*padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
        padding-top: 50px;*/
        border: 100%;
        font-size: 30px;
        border-radius: 20px;
        border: 2px solid red;
        color: whitesmoke;
        padding: 50px;

      }